#root {
  max-width: 768px;
  margin: 0 auto;
  height: 768px;
  padding: 2rem;
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  text-align: left;
}
